[submodule "_includes/submodules/UIView-JTViewToImage"]
	path = _includes/submodules/UIView-JTViewToImage
	url = git://gist.github.com/1578446.git
[submodule "_includes/submodules/UINibDecoderProxy"]
	path = _includes/submodules/UINibDecoderProxy
	url = git://gist.github.com/4466616.git
[submodule "_includes/submodules/UIImage-JTColor"]
	path = _includes/submodules/UIImage-JTColor
	url = git://gist.github.com/1571875.git
[submodule "_includes/submodules/JTDropShadowFixNavigationViewController"]
	path = _includes/submodules/JTDropShadowFixNavigationViewController
	url = git://gist.github.com/6591926.git
[submodule "_includes/submodules/NSObject-JTCancelableScheduledBlock"]
	path = _includes/submodules/NSObject-JTCancelableScheduledBlock
	url = git://gist.github.com/1571800.git
[submodule "_includes/submodules/NSObject-JTNibLoader"]
	path = _includes/submodules/NSObject-JTNibLoader
	url = git://gist.github.com/1578429.git
[submodule "_includes/submodules/JTKeyValueObserver"]
	path = _includes/submodules/JTKeyValueObserver
	url = git://gist.github.com/6009092.git
