[submodule "_includes/UINibDecoderProxy"]
	path = _includes/UINibDecoderProxy
	url = https://gist.github.com/4466616.git
[submodule "_includes/JTDropShadowFixNavigationViewController"]
	path = _includes/JTDropShadowFixNavigationViewController
	url = https://gist.github.com/6591926.git
