@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:80px 50px 50px 50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

#info {
  width:500px;
  float:right;
  margin-bottom:-60px;
  margin-top:-30px;
}


small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

#overflow{
  overflow-y:scroll;
  height:404px;
  border-top: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  padding-top: 20px;
  padding-bottom: 4px;
}

#logo a {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  display:block;
  width:40px;
  height:40px;
  position:fixed;
  margin:0px;
  padding:0px;
  float:left;
  left:8px;
  top:8px;
  opacity:0.25;
  transition: opacity .24s ease-out;
  -moz-transition: opacity .24s ease-out;
  -webkit-transition: opacity .24s ease-out;
  -o-transition: opacity .24s ease-out;
}

#logo a:hover {
  opacity:1.0;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  #info {
    float:none;
    position:static;
    width:auto;
    margin:inherit;
    margin-bottom:-10px;
  }

  header {
    -padding-right:320px;
  }
  
  section {
    border-bottom:1px solid #e5e5e5;
    border-width:1px 0;
    padding-bottom:20px;
    margin:0 0 20px;
  }
  
  header a small {
    -display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }

  #overflow{
    overflow-x:scroll;
    overflow-y:hidden;
    -moz-column-width:105px; /* Firefox */
    -webkit-column-width:105px; /* Safari and Chrome */
    column-width:105px;
    height: 180px;
    border-top:none;
    padding: 0px;
    margin-bottom: 14px;
  }
  #overflow .container{
  }
  #overflow .container a {
    margin-top:0px;
    border:1px solid #CCC;
    width: 100px;
    height:160px;
    margin-right: 10px;
    display:block;
    padding: 3px 5px;
    word-wrap:break-word;
  }
  
  #logo a {
    position:absolute;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }

}

@media print, screen and (max-width: 480px) {
  body {
    padding:10px;
    padding-bottom:50px;
    padding-top:80px;
  }
  
  header ul {
    display:none;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }

  #posts {
    display: hidden;
  }
}
