<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      .active a {
         -background-color: rgba(51, 153, 204, 0.1);
         font-weight: bold;
      }
      .active a small {
         font-weight: normal;
      }
      .view a small {
        margin-top: 0em;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>ioscodesnippet.com</h1></a>

        {% for post in site.posts %}
          {% if page.title == post.title %}
            {% capture class %}view active{% endcapture %}
          {% else %}
            {% capture class %}view{% endcapture %}
          {% endif %}
          {% if post.publish %}
          <p class="{{ class }}"><a href="{{ post.url }}">{{ post.name }}<small>{{ post.title }}</small></a></p>
          {% endif %}
        {% endfor %}

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
