<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="keywords" content="{{ page.tags | join: ',' }}" />

    {% if page.description == false %}
    {% else %}
      {% if page.description != nil %}
        {% capture description %}{{ page.description | strip_html | strip_newlines | truncate:200 }}{% endcapture %}
      {% else %}
        {% capture description %}{{ content | strip_html | strip_newlines | truncate:200 }}{% endcapture %}
      {% endif %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}"/>
    <meta name="twitter:description" content="{{ description }}">
    {% endif %}

    {% capture title %}{{ page.title }} | {{ site.name }}{% endcapture %}
    {% capture logo %}{{ site.url }}/images/logo.png{% endcapture %}

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:image" content="{{ logo }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:type" content="{% if page.type %}{{ page.type }}{% else %}article{% endif %}"/>
    <meta property="fb:app_id" content="{{ site.JB.sharing.facebook.appid }}"/>
    <meta property="fb:admins" content="{{ site.author.facebookid }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:creator" content="{{ page.author.twitter }}">
    <meta name="twitter:image:src" content="{{ logo }}">
    <meta name="twitter:domain" content="{{ site.domain }}">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <style>
      .active a {
         -background-color: rgba(51, 153, 204, 0.1);
         font-weight: bold;
      }
      .active a small {
         font-weight: normal;
      }
      .view a small {
        margin-top: 0em;
      }

      #disqus_thread {
        margin-top: 1em;
      }

      .post-sharing ul {
        list-style-type:none;
        margin:0;
        padding:0;
        background: none;
        border: none;
      }
      .post-sharing li {
        display:inline-block;
        width: 100px;
        border: 0px;
      }
      p .post-sharing {
        display: inline-block;
      }

    </style>


  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>ioscodesnippet.com</h1></a>

        {% for post in site.posts %}
          {% if page.title == post.title %}
            {% capture class %}view active{% endcapture %}
          {% else %}
            {% capture class %}view{% endcapture %}
          {% endif %}
          {% if post.publish %}
          <p class="{{ class }}"><a href="{{ post.url }}">{{ post.name }}<small>{{ post.title }}</small></a></p>
          {% endif %}
        {% endfor %}

      </header>
      <section>
        {{ content }}

        {% if page.sharing != false %}
        <div class="post-sharing">
          <ul>
            <li>{% include JB/sharing-providers/facebook %}
            <li>{% include JB/sharing-providers/twitter %}
            <li>{% include JB/sharing-providers/googleplus %}
            <li>{% include JB/sharing-providers/linkedin %}
          </ul>
        </div>
        {% endif %}

        {% if page.follow %}
        <p>If you like this page, you can <strong>follow us</strong> to keep track of our updates!</p> 
        <div class="post-sharing">
          <ul>
            <li>{% include JB/follow-providers/facebook %}
            <li>{% include JB/follow-providers/twitter %}
          </ul>
        </div>
        {% endif %}

        {% if page.comments %}
        {% endif %}

        {% include JB/comments %}
    
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>

    {% include JB/analytics %}
    
  </body>
</html>
